*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("https://media.istockphoto.com/photos/creative-school-or-office-desk-background-flat-lay-picture-id962387394?b=1&k=20&m=962387394&s=170667a&w=0&h=AKmvyr0a6myFk1f3Kr-7ehQ4aOc5avIwMXVKs5A5nak=");
  background-size: cover;
}

body.correct {
  background-image: url("https://media.istockphoto.com/photos/seesaw-scale-with-emoticons-on-chalkboard-background-3d-rendering-picture-id1132277152?k=20&m=1132277152&s=612x612&w=0&h=oYwBTE5srzHEyBWiLa5O4_Z8_efj8cvgHJYROeoYZ9E=");
}

body.wrong {
  background-image: url("https://media.istockphoto.com/photos/seesaw-scale-with-emoticons-3d-rendering-picture-id1197365791?k=20&m=1197365791&s=612x612&w=0&h=1MutcEE0XbForhdnObOMw8SxwYXivxX5QcA2vcMYBmQ=");
  background-size: cover;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn,
.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
